*{
    box-sizing: border-box;
}
body{
    background-color: #0E9493;
}
input,select,button{
    border-radius: .3em;
    border: 0;
}
 

#logo{
    color:#FBE12E;
    font-size: 2.5rem;
    border-radius: 1rem;
    width: fit-content;
    background-color: #0c7777;
    border: whitesmoke 2px dashed;
}




/* cat facts */



/* cat compendium */
#catCompWrapper{
    background-color: #0c7777;
    padding:0;
    height:50vh;
    border-radius: 1rem;
}
#catCompImgWrapper{
    width: 50%;
    float:left;
}
#catCompImg{
    width:90%;
    height:auto;
    margin:5%;
    border: whitesmoke 2px dashed;
}
#catCompInfoWrapper{
    float:right;
    width:45%;
    margin-right:5%;

    text-align: left;
}
#catCompInfoTitleWrapper{
    text-align: center;
    padding: 3%;
    color: #FBE12E;
}
#catCompInfoBreedPick{
    background-color: #9ea756;
    padding: 1rem;
}
#catCompInfoBreedInfo{
    background-color: #C3D04A;
    padding: 1rem;
}

.catCompInfoLeadText{
    font-weight: 500;
}

/* cat generator */


#catGenWrapper{
    border-radius: 1rem;
}
#catGenButton{
    float: right;
}
#catGenImg{
    border: whitesmoke 2px dashed;
    width: 100%;
    height:auto;
}
#catGenInputWrapper{
    background-color: #C3D04A;
    border-radius:.5rem;
}
#catGenOutputWrapper{
    
}
#catGenTagSelect{
    width:45%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}
#catGenTagSelectQuestion{
    
}
#catGenHelpBox{
    position: fixed;
    display: none;
    background-color: #f3d92f;
    border: black solid 3px;
    color:black;
    padding: .5rem;
    width:50vw;
}

#catGenTitle{
    text-align: center;
    color: #FBE12E;
}
#catGenTxtDiv{
    

}
#catGenTxt1{
    width:fit-content;
    float:left;
    margin-right: 3%;
}
#catGenTxt2{
    width:fit-content;
    float:left;
    margin-right: 3%;
}
#catGenTxtInput{
    
}
#catGenWrapper{
    background-color: #0c7777;
}







#factTranslate{
    color: #0c7777;
    font-weight: 500;
}
.catGenTxtRow{
    margin-bottom: 2%;
}
.textbox{
    background-color:#C3D04A;
    border-radius: 1rem;
}



@media(min-width:992px){
    #catGenHelpBox{
        width: 20vw;
    }
}